---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

I am very passionate about teaching! At the University of Queensland, I have TA'd for a core Master level Computer Science course:
INFS7410: Information Retrieval and Web Search. I have served as the TA
for INFS7410 course, where I worked closely with the course coordinator <a href="https://researchers.uq.edu.au/researcher/22857" target="_blank">A/Prof. Guido Zuccon</a> to
design course syllabus and content.
<br>

{% for post in site.teaching reversed %}
  {% include archive-single-teaching.html %}
{% endfor %}
